<div class="content">
  <div class="title">{ <%= t 'base_title' %> }<p>500 | <%= t 'error' %></p>  </div>
  <div class="message">
    <%= t 'errors.apology_505' %>
    <p>
      <a href="javascript:history.go(-1)">&laquo; <%= t 'go_back' %></a>
      &nbsp; | &nbsp;<a href="<%= to '/' %>"><%= t 'home' %> &raquo;</a>
    </p>
  </div>
</div>
